@import "../../styles/_colors";

.header {
  padding: 0 40px;
  &__title {
    font-weight: 600;
    font-size: 64px;
    color: $primaryBlack;
  }

  &__sub-title {
    font-weight: 600;
    color: $primaryGrey;
    font-size: 36px;
  }

  &__tool {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;

    &-chip {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__weather {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
    color: $primaryGrey;
    font-size: 18px;
  }
}
