@import "../../styles/_colors";

.header {
  padding: 0 40px;
  &__title {
    font-weight: 600;
    font-size: 64px;
    color: $primaryBlack;
  }

  &__sub-title {
    font-weight: 600;
    color: $primaryGrey;
    font-size: 36px;
  }

  &__tool {
    margin: 30px 5px;
    display: flex;
    flex-wrap: wrap;

    &-chip {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
