@import "../../../../styles/_colors";

.main-container {
  &__main {
    &-row {
      display: flex;
      flex-wrap: wrap;

      &__left {
        width: 45%;
        margin: 20px 45px 20px 35px;
      }

      &__right {
        width: 45%;
      }
    }

    .data-loader {
      display: flex;
      justify-content: center;
      width: 100%;

      span {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        color: $primaryGrey;
      }
    }
  }

  &__data {
    &-row {
      display: flex;
      padding: 45px;
      flex-direction: column;

      .infinite-scroll-component__outerdiv {
        .infinite-scroll-component {
          overflow: hidden !important;
        }
      }
    }
  }
}
