@import "../../../../styles/_colors";

.main-container {
  padding: 60px 40px;

  &__main {
    &-row {
      display: flex;
      flex-wrap: wrap;

      &__left {
        width: 45%;
        margin: 20px 45px;
      }

      &__right {
        width: 45%;
      }
    }
  }

  &__data {
    &-row {
      display: flex;
      padding: 45px;
      flex-direction: column;
    }
  }
}
